<%include partials/header%>
    <div contenteditable="true" id="editor-textbox" name="content">
    </div>
<%include partials/footer%>
<script src="../scripts/libs/jquery.js"></script>
  <script src="../scripts/main.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
